*{
    margin: 0;
    padding: 0;
   }
.ma-p-hd {
 position: sticky;
 top: 0;
 margin-bottom: 2rem;
 z-index: 1;
}
#pagelayout{
    height: 100%;
    height: 100%;
    background-color:#4c516b;
    color:rgb(255, 255, 255);
    font-size: large;
    
   }
   .logo {
     display: flex;
     width: 8rem;
     justify-content: center;
     align-items: center;
     color:rgb(0, 0, 0);
     font-weight: bolder;
     font-size: larger;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   .navbar > ul {
     display: flex;
     position: relative;
     list-style-type: none;
     margin-bottom:0;
     padding: 0;
     overflow: hidden;
     background-color: #58659c;
   }
   
   .navbar ul li {
     float:left;
   }
   
   .navbar ul li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   .navbar ul li a:hover {
     background-color: #203a80;
   }
   .active {
     background-color: #2a39be;
   }
   .logo-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #58659c;
   }
   .container {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    padding: 100px;
   }
   .pyth {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-content: center;
    margin-bottom: 50px;
   }
   .py-img {
    max-height: 18rem;
    border: 10px solid black;
    overflow: hidden;
    margin: 10px;
   }
  .rf {
   position: relative;
   top: 50px;
   text-align: left;
   float:right;
  }
  .lf {
   position: relative;
   top: 50px;
   text-align: left;
   float:left;
  }
  .htm {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-bottom: 50px;
   }
  .htmimg {
    max-height: 18rem;
    border: 10px solid black;
    overflow: hidden;
    margin-left: 10px;
   }
   .rlimg {
    max-height: 18rem;
    border: 10px solid black;
    overflow: hidden;
    margin: 10px;
   }
   .roc-lea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 10px;
   }
  .fm{
   padding:20px
  }
  input[type=checkbox] {
  display: none;
  } 
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
   
   .gradient-background {
     background: linear-gradient(300deg, #939ecf, #58659c, #969fc9);
     background-size: 180% 180%;
     animation: gradient-animation 18s ease infinite;
   }
   @keyframes gradient-animation {
     0% {
       background-position: 0% 50%;
     }
     50% {
       background-position: 100% 50%;
     }
     100% {
       background-position: 0% 50%;
     }
   }
   @media (max-width: 768px){
    .roc-lea {
        display: flex;
        flex-direction: column;
     }
     .pgraph {
      margin-bottom:15px ;
     }
     .htm {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
     }
     .pyth {
        display: flex;
        flex-direction: column;
     }
     .rf {
     position: relative;
     top: 10px;
     
    }
    .lf {
     position: relative;
     top: 10px;
    }
    .logo-nav-container {
       min-height: 3rem;
      
     }
     .hamburger {
        display: block;
      }
    .navbar {
      display: none;
      position: absolute;
      justify-content: flex-end;
      top:0;
      right:0;
      left:0;
      text-align: center;
    }
    input[type=checkbox]:checked ~ .navbar {
        display: flex;
      }
    
    
    
   }
   