* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.resume {
  margin-left: 0.2rem;
}
.resume-background {
  background-color: lightslategrey;
}
.nav-background {
  box-shadow: 0px 0px 3px #1b1c1d;
}
.logo-background {
  background: linear-gradient(300deg, #6a1ea8, #490107, #6a1ea8);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
.body-background {
  background: linear-gradient(300deg, #3e3447, #7b4fb4, #382e3f);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  height: 100dvh;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Start of Nav Bar display */
.navbar {
  display: grid;
  grid-template-columns: 1fr 8fr;
  justify-items: flex-end;
  position: sticky;
  top: 0;
  margin-bottom: 3rem;
}
/*Logo display*/
.logo {
  font-weight: bolder;
  font-size: 130%;
  text-align: center;
  justify-self: flex-start;
  color: #fdfcff;
  padding: 0.5rem;
  text-wrap: nowrap;
}
/*Container of all list items*/
#siteLinks {
  text-align: center;
  font-size: 130%;
  font-weight: bold;
  justify-self: start;
  list-style: none;
  color: white;
}
#siteLinks a {
  text-decoration: none;
  color: white;
}
/*Actual list items*/
.siteLink {
  display: inline-block;
  padding-right: 0.5rem;
  padding: 0.5rem;
  height: auto;
  position: relative;
}

.siteLink:hover {
  background-color: #6a1ea8;
}
.dropdown1 {
  display: none;
  list-style: none;
  position: absolute;
  margin: 0.5rem;
}
.dropdown1 > li {
  padding: 0.25rem;
  background-color: #8e52be;
}
.dropdown1 > li:hover {
  background-color: #6a1ea8;
}
.dropdown2 {
  display: none;
  list-style: none;
  position: absolute;
  margin: 0.5rem;
}
.dropdown2 > li {
  padding: 0.25rem;
  background-color: #8e52be;
}
.dropdown2 > li:hover {
  background-color: #6a1ea8;
}
/* End of list items*/

/*hamburger dropdown */
.hamburger {
  display: none;
}
input[type="checkbox"] {
  display: none;
}
/* end of hamburger dropdown */

/*Start of RL Image*/
.homeContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.home-image {
  max-width: 100%;
  max-height: 100%;
  grid-column: 5/8;
}
/* Start of RL paragraph + descript */
.descript {
  display: none;
  margin: 0.5rem;
  grid-column: span 4;
  font-size: 2rem;
  align-content: center;
}
p.html {
  grid-column: 5/9;
}

footer {
  padding: 1rem;
}
/* Media for Cellphones */
@media (max-width: 768px) {
  #siteLinks {
    display: none;
  }
  .hamburger {
    display: block;
    font-weight: bolder;
    font-size: 180%;
  }
  input[type="checkbox"]:checked ~ #siteLinks {
    display: flex;
    flex-direction: column;
    justify-self: left;

    background-color: purple;
    top: 2.5rem;
    right: 1.5rem;
    border-radius: 10px;
  }
  .dropdown1 {
    left: 5rem;
    top: -0.5rem;
  }
  .dropdown2 {
    left: 5rem;
    top: -0.5rem;
  }
  .descript {
    display: none;
    margin: 0.5rem;
    grid-column: span 6;
    font-size: 1.2rem;
    align-content: center;
  }
}
/* End Media for Cellphones */
